<div class="container text-center">
  <h1 >Add a New Cocktail</h1>
</div>


<div class="container">
  <%= simple_form_for(@cocktail) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :name %>
      <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">

</div>

<%= link_to 'Back to cocktails', cocktails_path, class: "btn btn-primary"%>
