<h1>A la cool</h1>


<div class="container">
<h1>Add a cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :name %>
      <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to 'Back', cocktails_path %>
